@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
}
.granDiv {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.menuContactos {
  width: 25%;
  border: 1px solid black;
  margin: 0;
  padding: 0;
}

.contacto {
  display: flex;
  flex: 0 0 20rem;
  border: 1px solid black;
}

.principal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75%;
}

.principal img {
  margin-bottom: 0;
  width: 20%;
}

menu {
  background-color: white;
  width: 10em;
  min-height: 100vh;
}
menu ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
menu li {
  padding: 1em;
  list-style: none;
}
menu a {
  text-decoration: none;
  color: white;
  color: rgba(255, 255, 255, 0.6);
}
menu a:hover {
  color: white;
}

.boxPrinc {
  flex-direction: column-reverse;
  justify-content: space-around;
  border: 1px solid black;
}

.boxPrinc div {
}

#circle {
  background: lightblue;
  border-radius: 50%;
  width: 40px;
}
